---
// src/pages/index.astro

// 1. Import Layout
import MainLayout from '../layouts/MainLayout.astro';

// 2. Import Semua Komponen
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import VisiMisi from '../components/VisiMisi.astro'
import StrukturOrganisasi from '../components/StrukturOrganisasi.astro';
import Layanan from '../components/Layanan.astro';
import Kegiatan from '../components/Kegiatan.astro';
import Footer from '../components/Footer.astro';
---

<MainLayout 
  title="PERHIPTANI Sragen - Maju Bersama Penyuluh" 
  description="Website resmi PERHIPTANI Kabupaten Sragen. Informasi struktur organisasi, layanan konsultasi tani, dan produk unggulan binaan.">
  
  <Navbar />
  
  <main class="grow">
    
    <Hero />
    <VisiMisi />
    <StrukturOrganisasi />
    <Layanan />
    <Kegiatan />
    
  </main>

  <Footer />

</MainLayout>